{% extends 'layouts/default.html' %}

{% block body %}

<div id="root-hash-displayer">
    <h5>ROOT HASH</h5>
    <p>{{ root_hash }}</p>
</div>

<div class="card-container">

    {% for block in blocks %}

        <div class="card">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nombre</span>
                </div>
                <input nombre = data type="text" class="form-control" placeholder="{{ block.data }}" readonly>
            </div>

            <div class="hash-displayer">
                <div class="hash-info">
                    Previous hash :
                    <div class="hash-container hash-container-box">
                        {{ block.previous_hash }}
                    </div>
                </div>
                <div class="hash-info">
                    Hash :
                    <div class="hash-container">{{ block.hash }}</div>
                </div>
            </div>

            <div class="block-infos">
                <div id="block-infos-left">
                    <div>Block {{ block.block_number }}</div>
                </div>
                <span id="block-infos-right">{{ block.nonce }}</span>
            </div>
        </div>

    {% endfor %}

    <div class="card genesis-card">
        <form action="/" method="POST">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nombre</span>
                </div>
                <input type="text" class="form-control" name="data">
            </div>

            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Correo</span>
                </div>
                <input type="text" class="form-control" name="data1">
            </div>

            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Telefono</span>
                </div>
                <input type="text" class="form-control" name="data2">
            </div>

            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Mensaje</span>
                </div>
                <input type="text" class="form-control" name="data3">
            </div>
                <div class="btn-container">
                    <input type="submit" class="submit-btn" value="Agregar Bloque">
                </div>
        </form>
    </div>
</div>

{% endblock body %}
